In [67]:
# import pandas

In [68]:
import pandas as pd

In [69]:
# create dataframe off of json file

In [70]:
df = pd.read_json('./json_data/StreamingHistory_music_0.json')

In [71]:
df

,endTime,artistName,trackName,msPlayed
0,2024-06-20 00:58,The Garden,Filthy Rabbit Hole,159740
1,2024-06-23 00:19,Future Magics,High With You,22507
2,2024-06-23 00:31,Effoharkay,For Now,175000
3,2024-06-23 00:36,on4word,Alberto Balsalm,303571
4,2024-06-23 00:38,Windows 96,Victim Less,131633
...,...,...,...,...
6555,2025-06-23 21:29,essenceォ液ー,Online Shopping | オンラインショッピング,206778
6556,2025-06-23 21:31,Vaporwavez,Advanced Shopping Mall Technology,162000
6557,2025-06-23 21:34,SPORTSGIRL,Hydration,152693
6558,2025-06-23 23:54,L a z u l i _ y e l l o w,Spanish Pizza Class,54470
6559,2025-06-23 23:57,John Powell,Test Drive - From How To Train Your Dragon Mus...,146840

In [72]:
# Adjust dataframe columns

In [73]:
df = df.rename(columns={
    'endTime': 'End_Time',
     'artistName': 'Artist',
     'trackName': 'Track',
     'msPlayed': 'Seconds_Played'
     })

In [74]:
df

,End_Time,Artist,Track,Seconds_Played
0,2024-06-20 00:58,The Garden,Filthy Rabbit Hole,159740
1,2024-06-23 00:19,Future Magics,High With You,22507
2,2024-06-23 00:31,Effoharkay,For Now,175000
3,2024-06-23 00:36,on4word,Alberto Balsalm,303571
4,2024-06-23 00:38,Windows 96,Victim Less,131633
...,...,...,...,...
6555,2025-06-23 21:29,essenceォ液ー,Online Shopping | オンラインショッピング,206778
6556,2025-06-23 21:31,Vaporwavez,Advanced Shopping Mall Technology,162000
6557,2025-06-23 21:34,SPORTSGIRL,Hydration,152693
6558,2025-06-23 23:54,L a z u l i _ y e l l o w,Spanish Pizza Class,54470
6559,2025-06-23 23:57,John Powell,Test Drive - From How To Train Your Dragon Mus...,146840

In [75]:
df.dtypes

End_Time          object
Artist            object
Track             object
Seconds_Played     int64
dtype: object

In [76]:
# Change End_Time type from object to datatime object

In [77]:
df['End_Time'] = pd.to_datetime(df['End_Time'])

In [78]:
df.dtypes

End_Time          datetime64[ns]
Artist                    object
Track                     object
Seconds_Played             int64
dtype: object

In [79]:
# Test check for duplicate song instances

In [80]:
df.isnull().any()

End_Time          False
Artist            False
Track             False
Seconds_Played    False
dtype: bool

In [81]:
df

,End_Time,Artist,Track,Seconds_Played
0,2024-06-20 00:58:00,The Garden,Filthy Rabbit Hole,159740
1,2024-06-23 00:19:00,Future Magics,High With You,22507
2,2024-06-23 00:31:00,Effoharkay,For Now,175000
3,2024-06-23 00:36:00,on4word,Alberto Balsalm,303571
4,2024-06-23 00:38:00,Windows 96,Victim Less,131633
...,...,...,...,...
6555,2025-06-23 21:29:00,essenceォ液ー,Online Shopping | オンラインショッピング,206778
6556,2025-06-23 21:31:00,Vaporwavez,Advanced Shopping Mall Technology,162000
6557,2025-06-23 21:34:00,SPORTSGIRL,Hydration,152693
6558,2025-06-23 23:54:00,L a z u l i _ y e l l o w,Spanish Pizza Class,54470
6559,2025-06-23 23:57:00,John Powell,Test Drive - From How To Train Your Dragon Mus...,146840

In [82]:
# Change Seconds_Played to Actual Seconds

In [83]:
df['Seconds_Played'] = df['Seconds_Played']/1000

In [84]:
df

,End_Time,Artist,Track,Seconds_Played
0,2024-06-20 00:58:00,The Garden,Filthy Rabbit Hole,159.740
1,2024-06-23 00:19:00,Future Magics,High With You,22.507
2,2024-06-23 00:31:00,Effoharkay,For Now,175.000
3,2024-06-23 00:36:00,on4word,Alberto Balsalm,303.571
4,2024-06-23 00:38:00,Windows 96,Victim Less,131.633
...,...,...,...,...
6555,2025-06-23 21:29:00,essenceォ液ー,Online Shopping | オンラインショッピング,206.778
6556,2025-06-23 21:31:00,Vaporwavez,Advanced Shopping Mall Technology,162.000
6557,2025-06-23 21:34:00,SPORTSGIRL,Hydration,152.693
6558,2025-06-23 23:54:00,L a z u l i _ y e l l o w,Spanish Pizza Class,54.470
6559,2025-06-23 23:57:00,John Powell,Test Drive - From How To Train Your Dragon Mus...,146.840

In [85]:
df[df['Track'].isin(['Nice to Know You'])]

                End_Time          Artist             Track  Seconds_Played
5872 2025-05-15 20:15:00  PinkPantheress  Nice to Know You         169.513
5952 2025-05-17 02:36:00  PinkPantheress  Nice to Know You         169.549
6520 2025-06-20 22:30:00  PinkPantheress  Nice to Know You         170.466
6554 2025-06-23 21:25:00  PinkPantheress  Nice to Know You          89.480

In [113]:
# Test check for top artists

In [118]:
top_artists = df.groupby('Artist')['Seconds_Played'].sum().reset_index()

In [119]:
top_artists['minutesPlayed'] = (top_artists['Seconds_Played'] / 60).round(2)

In [120]:
top_artists = top_artists.sort_values(by='Seconds_Played', ascending=False)

In [121]:
print(top_artists.head(10))

              Artist  Seconds_Played  minutesPlayed
85              C418       84142.291        1402.37
718       Windows 96       60798.967        1013.32
199       FM Skyline       42431.621         707.19
714         Webinar™       42080.842         701.35
617   TEKKEN Project       39170.438         652.84
576         Skrillex       37293.637         621.56
833        猫 シ Corp.       29993.796         499.90
291     Hot Mulligan       27274.760         454.58
550  SEGA SOUND TEAM       24794.946         413.25
510        Periphery       23787.725         396.46

In [102]:
# Test Check for Top Songs

In [103]:
top_songs = df.groupby(['Track', 'Artist']).size().reset_index(name='playCount')

In [104]:
top_songs = top_songs.sort_values(by='playCount', ascending=False)

In [105]:
print(top_songs.head(10))

                            Track          Artist  playCount
683              Equator Line 1st  TEKKEN Project         33
684              Equator Line 2nd  TEKKEN Project         30
1807                     SPITFIRE        Skrillex         28
1803             SKRILLEX IS DEAD        Skrillex         27
586                      Dojo 2nd  TEKKEN Project         26
2387  WHILE YOU WERE SLEEPING VIP        Skrillex         25
584                      Dojo 1st  TEKKEN Project         23
624        Droopy Likes Your Face            C418         22
1805                     SLICKMAN        Skrillex         22
2043            Subwoofer Lullaby            C418         21